{% extends 'core/base.html' %}
{% load static %}
{% block title %}PORTADA{% endblock %}

{% block content%}
<section>
        <div class="main-slider basic-slider">
            <!-- Slide -->
	{% for slide in slides.all %}
          <div class="main-slide">
				<img src="{{slide.image.url}}" width="200" height="600" alt="" />
                <div class="slide-title">
			<a class="cat-text" href="#" title="">{{slide.title}}</a>
			<h2><a href="standard-post.html" title="">{{slide.subtitle}}</a></h2>
                    <ul class="meta">
			    <li><a href="standard-post.html" title="">{{slide.fecha}}</a></li>
                    </ul>
                </div>
	  </div>
	{% endfor %}

        </div>
        <!-- Slider -->
    </section>


 <section class="section">
        <div class="container">

            <div class="row">
                <!-- Content-->
                <div class="col-lg-8">

                    <!-- Post-->
		    {% block content_post %}

		    {% endblock %}
		   <!-- Post end-->

                     <!-- Pagination-->
                    <div class="row">
{% if posts.has_other_pages %}
      <ul class="pagination">
    {% if posts.has_previous %}
        <li><a href="?page={{ users.previous_page_number }}">&laquo;</a></li>
	    {% else %}
          <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in posts.paginator.page_range %}
        {% if posts.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
             <li><a href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
    {% endfor %}
    {% if posts.has_next %}
         <li><a href="?page={{ posts.next_page_number }}">&raquo;</a></li>
    {% else %}
    <li class="disabled"><span>&raquo;</span></li>
   {% endif %}
  </ul>
 {% endif %}

                    </div>
                    <!-- Pagination end-->
                </div>
                <!-- Content end-->

                <!-- Sidebar-->
                <div class="col-lg-4">
                    <div class="sidebar">
                        <!-- About widget-->
                        <aside class="widget">

				<div class="widget-title">{{about_me.title}}</div>

                            <div class="about-widget">
				    <img src="{{about_me.image.url}}" alt="Acerca de mi " class="rounded-circle">

				    <p>{{about_me.content|truncatewords:100|safe}}</p>

				    <a href="{% url 'about' %}" class="btn-read-more mt-2">Read More <i class="mdi mdi-arrow-right"></i></a>
                            </div>
                        </aside>

                        
                        <!-- Categories widget-->
                        <aside class="widget widget_categories">
                            <div class="widget-title">Categorias</div>
                            <ul>
				    {% for category in categories.all %}				 
				    <li><a href="{% url 'category' category.id %}">{{category.name|capfirst}}</a> <span class="float-right">{{category.get_posts.all.count}}</span></li>
				    {% endfor %}
			            <li><a href="{% url 'blog' %}">Todas</a> <span class="float-right">{{posts.all.count}}</span></li>

                            </ul>
                        </aside>

                       <!-- Social widget-->
                        <aside class="widget">
                            <div class="widget-title">Sigueme</div>

                            <ul class="socials">
                                {% if LINK_FACEBOOK %} 
		   			<li><a href="{{LINK_FACEBOOK}}"><i class="mdi mdi-facebook"></i></a></li>
				{% endif %}
				{% if LINK_TWITTER %} 
		   			<li><a href="{{LINK_TWITTER}}"><i class="mdi mdi-twitter"></i></a></li>
				{% endif %}

                		{% if LINK_INSTAGRAM %} 
				   <li><a href="{{LINK_INSTAGRAM}}"><i class="mdi mdi-twitter"></i></a></li>
				{% endif %}

				 {% if LINK_PINTEREST %} 
					 <li><a href="{{LINK_PINTEREST}}"><i class="mdi mdi-pinterest"></i></a></li>
				 {% endif %}
                            </ul>
                        </aside>

		       	<!-- Recent entries widget
                        <aside class="widget widget_recent_entries_custom">
                            <div class="widget-title">Popular Posts</div>
                            <ul>
                                <li class="clearfix">
                                    <div class="wi">
                                        <a href="#"><img src="{% static 'core/images/blog/blog-1.jpg' %}" alt="" class="img-fluid"></a>
                                    </div>
                                    <div class="wb"><a href="#">Beautiful Day With Friends..</a> <span class="post-date">Jun 15, 2017</span></div>
                                </li>
                                <li class="clearfix">
                                    <div class="wi">
                                        <a href="#"><img src="{% static 'core/images/blog/blog-2.jpg' %}" alt="" class="img-fluid"></a>
                                    </div>
                                    <div class="wb"><a href="#">Nature valley with cooling..</a> <span class="post-date">Jun 10, 2017</span></div>
                                </li>
                                <li class="clearfix">
                                    <div class="wi">
                                        <a href="#"><img src="{% static 'core/images/blog/blog-3.jpg' %}" alt="" class="img-fluid"></a>
                                    </div>
                                    <div class="wb"><a href="#">15 Best Healthy and Easy Salad..</a> <span class="post-date">Jun 8, 2017</span></div>
                                </li>
                            </ul>
                        </aside>

-->
                        <!-- Text widget
                        <aside class="widget">
                            <div class="widget-title">Text Widget</div>

                            <p class="text-muted text-widget-des">Exercitation photo booth stumptown tote bag Banksy, elit small batch freegan sed. Craft beer elit seitan exercitation, photo booth et 8-bit kale chips proident chillwave deep v laborum. Aliquip veniam delectus, Marfa eiusmod Pinterest in do umami readymade swag. </p>

                        </aside>
-->
                        <!-- Archives widget
                        <aside class="widget widget_archive">
                            <div class="widget-title">Archives</div>

                            <ul>
                                <li><a href="#">March 2017</a> <span class="float-right">(32)</span></li>
                                <li><a href="#">April 2017</a> <span class="float-right">(09)</span></li>
                                <li><a href="#">May 2017</a> <span class="float-right">(81)</span></li>
                                <li><a href="#">Jun 2017</a> <span class="float-right">(12)</span></li>
                            </ul>

                        </aside>
-->
                        <!-- Tags widget
                        <aside class="widget widget_tag_cloud">
                            <div class="widget-title">Tags</div>
                            <div class="tagcloud">
                                <a href="#">logo</a>
                                <a href="#">business</a>
                                <a href="#">corporate</a>
                                <a href="#">e-commerce</a>
                                <a href="#">agency</a>
                                <a href="#">responsive</a>
                            </div>
                        </aside>
			-->
                    </div>
                </div>
                <!-- Sidebar end-->
            </div>
        </div>
        <!-- end container -->
    </section>

{% endblock %}



