{% extends 'core/base.html' %}
{% block title %}ABOUT{% endblock %}

{% block background%}{% load static%}{% static 'core/images/logo.png' %}{% endblock %}
		
{% block headers %}
	<h2> Maria </h2>
{% endblock %}
{% block content%}
	<section class="section">
        <div class="container">

            <div class="row">
                <!-- Content-->
                <div class="col-12">

                    <!-- Post-->
                    <article class="post">

			    <h5 class="text-center mt-0 mb-5 pb-3 text-uppercase"><b>{{about_me.title}}</b></h5>
                        <div class="post-preview">
				<img src="{{about_me.image.url}}" alt="" class="img-fluid rounded">
                        </div>

                        <div class="blog-detail-description">
                            <p>
			    {{about_me.content|safe}} 
			    {% if user.is_authenticated %}
			        <p><a href="{% url 'admin:about_aboutme_change' about_me.id %}">Editar</a></p>
			     {%endif%}

			    </p>

                            <ul class="socials list-unstyled mb-0 text-center mt-5">
                                <ul class="socials">
                                {% if LINK_FACEBOOK %} 
		   			<li><a href="{{LINK_FACEBOOK}}"><i class="mdi mdi-facebook"></i></a></li>
				{% endif %}
				{% if LINK_TWITTER %} 
		   			<li><a href="{{LINK_TWITTER}}"><i class="mdi mdi-twitter"></i></a></li>
				{% endif %}

                		{% if LINK_INSTAGRAM %} 
				   <li><a href="{{LINK_INSTAGRAM}}"><i class="mdi mdi-twitter"></i></a></li>
				{% endif %}

				 {% if LINK_PINTEREST %} 
					 <li><a href="{{LINK_PINTEREST}}"><i class="mdi mdi-pinterest"></i></a></li>
				 {% endif %}
                            </ul>                            </ul>

                        </div>

                    </article>
                    <!-- Post end-->

                </div>
                <!-- Content end-->

            </div>

        </div>
        <!-- end container -->
    </section>

{% endblock %}
