{% extends 'core/base.html' %}
{% block title %}ABOUT{% endblock %}
		
{% block content%}
	<section class="section">
        <div class="container">

            <div class="row">
                <!-- Content-->
                <div class="col-12">

                    <!-- Post-->
                    <article class="post">

			    <h5 class="text-center mt-0 mb-5 pb-3 text-uppercase"><b>{{about_me.title}}</b></h5>
                        <div class="post-preview">
				<img src="{{about_me.image.url}}" alt="" class="img-fluid rounded">
                        </div>

                        <div class="blog-detail-description">
                            <p>
			    {{about_me.content|safe}} 
			    {% if user.is_authenticated %}
			        <p><a href="{% url 'admin:about_aboutme_change' about_me.id %}">Editar.</a></p>
			     {%endif%}

			    </p>

                        </div>

                    </article>
                    <!-- Post end-->

                </div>
                <!-- Content end-->

            </div>

        </div>
        <!-- end container -->
    </section>

{% endblock %}
