{% extends 'core/base.html' %}
		
{% block content%}
    <section class="section">
        <div class="container">

            <div class="row justify-content-center">
                <!-- Content-->
                <div class="col-8">

                    <!-- Post-->
                    <article class="post">
                        <h5 class="text-center mt-0 mb-5 pb-3 text-uppercase"><b>Get In Touch</b></h5>

                        <p class="text-center">Duis mollis eget augue et lobortis. Nam nunc justo, aliquet sed condimentum vel, faucibus in dolor. Proin eleifend hendrerit rhoncus.</p>
                       	<form action="" method="POST">
			{%csrf_token%}

                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
					    <!--     <input id="author" class="form-control" placeholder="Name*" name="author" type="text" required="">-->
					{{form.name}}
                                    </div>
				    {{form.name.errors}}
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
					    <!-- <input id="email" class="form-control" placeholder="Email*" name="email" type="text" required="">-->
					{{form.email}}
                                    </div>
			            {{form.email.errors}}

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
					    <!-- <input id="subject" class="form-control" placeholder="Subject" name="subject" type="text">-->
					{{form.subject}}
                                    </div>
				    {{form.subject.errors}}	
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
					{{form.content}}
                                    </div>
				{{form.content.errors}}
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group text-right">
                                        <button name="submit" type="submit" id="submit" class="btn btn-dark">Send</button>
                                    </div>
                                </div>
                            </div>
                        </form>

			{% if 'ok' in request.GET %}
                 	    <p><b>Su mensaje se a enviado correctamente, en breve nos contactaremos.</b></p>
                  	{% endif %}

		<!--	<form action="" method="POST">
				{%csrf_token%}
			 <table>
			    {{form.as_table}}
			 </table>
			 
			 <input type="submit" value="Enviar"/>
			  </form>
		-->
                    </article>
                    <!-- Post end-->

                </div>
                <!-- Content end-->

            </div>

        </div>
        <!-- end container -->
    </section>
{% endblock %}

